@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification {
  color: black;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.success {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Quicksand;
  background: #a8f0c6;
}

.error {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Quicksand;
  background: #f7a7a3;
}

.regular-shadow {
	-webkit-box-shadow: -1px 5px 5px 0px #111;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.regular-text-shadow {
	text-shadow: 1px 1px 0 rgb(93, 95, 97);
}

.no-border {
  border: 0;
  box-shadow: none;
}
